[Unit]
Description=wifi-screen-control - Checking wifi AP %I for connected stations, controlling monitor on/off state.
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/local/bin/wifi-screen-control watch %i --signal-threshold=-55
Restart=on-failure
RestartSec=1

[Install]
WantedBy=default.target
